<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="EmployeeId" class="constructor_İnjection.Employee" >
        <constructor-arg name="name" value="Kemal"/>
        <constructor-arg name="surname" value="Soydere"/>
        <constructor-arg name="salary" value="23000"/>
    </bean>

    <bean id="EmployeeId2" class="constructor_İnjection.Employee" >
        <constructor-arg name="name" value="Nihal"/>
        <constructor-arg name="surname" value="Soydere"/>
        <constructor-arg name="salary" value="3400"/>
        <constructor-arg name="department" ref="DepartmentId"/>
    </bean>

    <bean id="EmployeeId3" class="constructor_İnjection.Employee"
    c:name="Sedat"
    c:surname="Akgül"
    c:salary="3400" c:department-ref="DepartmentId">

    </bean>

    <bean id="DepartmentId" class="constructor_İnjection.Department">
        <constructor-arg name="departmentName" value="Sinema ve Televixyon"/>
    </bean>



</beans>