<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lassaId" class="bean_Factory.Lassa"/>
    <bean id="petlasId" class="bean_Factory.Petlas"/>
    <bean id="goodYearId" class="bean_Factory.GoodYear"/>

    <bean id="carId" class="bean_Factory.Car">
        <property name="wheel" ref="goodYearId"/>
    </bean>
</beans>